<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<body>
<h1>채팅방 목록</h1>

    <form th:action="@{/chat/room}" th:object="${roomForm}" method="post">
        <div class="form-group">
            <label th:for="title">Title</label>
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="방 제목을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">만들기</button>
    </form>


<table>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.title}"></td>
            <td>
                <a href="#" th:href="@{/chat/room/enter/{id} (id=${room.roomId})}"
               class="btn btn-primary" role="button">join</a>
        </td>
    </tr>
    </tbody>
</table>
</body>