<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>
<h1>채팅방 목록</h1>

    <form th:action="@{/chat/room}" th:object="${roomForm}" method="post">
        <div class="form-group">
            <label th:for="title">Title</label>
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="방 제목을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">만들기</button>
    </form>


<table>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.title}"></td>
            <td>
                <a href="#" th:href="@{/chat/room/enter/{id} (id=${room.roomId})}"
               class="btn btn-primary" role="button">join</a>
        </td>
    </tr>
    </tbody>
</table>
</body>