<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link th:href="@{/css/jumbotron-narrow.css}"  href="/css/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>Hello, world!</title>
</head>
<script th:inline="javascript">
    $(document).ready(function(){

        var roomName = [[${room.title}]];
        var roomId = [[${room.id}]];
        var loginName = [[${loginMember}]];
        var loginId = [[${loginMemberId}]];

        console.log(roomName + ", " + roomId + ", " + loginName + ", " + loginId);

        var sockJs = new SockJS("/ws-stomp");
        var stomp = Stomp.over(sockJs);
        stomp.connect({}, function (){
            console.log("STOMP Connection");

            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe('/sub/chat/room/'+roomId, function (chatMessage) {
                var content = JSON.parse(chatMessage.body);

                // 글을쓴사람 (로그인한사람이 아님)
                var writer = content.sender;
                var writerId = content.senderId;

                var message = content.message;
                var type = content.type;
                var str = '';
                console.log(type);

                if (type === 'ENTER') {
                    printNotice(message);
                } else {
                    if (writerId === loginId) {
                        printMyChat(writer, message);
                    } else {
                        printOtherChat(writer, message);
                    }
                }

            });
            // 입장메시지
            stomp.send("/pub/chat/message", {}, JSON.stringify({type:'ENTER', roomId: roomId, senderId: loginId, sender:loginName}))
        });
        function printMyChat(writer, message) {
            str = "<div class='col-6'>";
            str += "<div class='alert alert-warning'>";
            str += "<b>"+ writer + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        }

        function printOtherChat(writer, message){
            str = "<div class='col-6'>";
            str += "<div class='alert alert-secondary'>";
            str += "<b>" + writer + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        }

        function printNotice(message) {
            str = "<div class='col-6'>";
            str += "<div class='alert alert-secondary'>";
            str += "<b> [알림] " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        }

        $("#msg").on("keyup",function(key){
            if(key.keyCode==13) {
                key.preventDefault();
                $("#button-send").click();
            }
        });

        $("#button-send").on("click", function(e){

            var msg = document.getElementById("msg");
            if (msg.value == null || msg.value == '') {
                return false;
            }

            stomp.send('/pub/chat/message', {}, JSON.stringify({type:"TALK",roomId: roomId, senderId: loginId,  message: msg.value, sender: loginName}));
            msg.value = '';
        });
    });
</script>
<th:block th:fragment="content">

    <div class="container">
        <div class="col-6">
            <h1>[[${room.title}]]</h1>
        </div>
        <div>
            <div id="msgArea" class="col">



                <div th:each="chat : ${chatList}">
                    <div class='col-6'>
                        <div class='alert alert-secondary'>
                            <b th:text="|${chat.sender} : ${chat.message}| "> </b>
                        </div>
                    </div>
                </div>




            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
</th:block>

</html>